div {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 5px;
  border: solid slateblue 3px;
  background: #5D6770;
  font-family: sans-serif;
}

h2 {
  font-size: 110%;
  font-family: sans-serif;
}

table, th, tr {
  border: solid black 2px;
  padding: 5px;
  align-content: center;
  font-family: sans-serif;
}
