.container {
  width: 960px;
  height: 540px;
  border: solid black 5px;
  padding: 10px;
  margin: auto;
  background-color: #FFC757;
}

.header{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant: small-caps;
  color: slateblue;
}

.button {
  width: 320px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  border-radius: 135px;
  margin: auto;
  padding: auto;
  font-size: 24px;
  font-variant: small-caps;
  color: #FFC757;
  background-color: slateblue;
}
