#d1 {
  padding: 20px;
  border: red solid 2px;
  margin: 30px;
  height: 100px;
  width: 100px;
  float: left;
  border-radius: 100px;
  position: absolute;
  animation-name: myanimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#d2 {
  padding: 20px;
  border: blue solid 2px;
  margin: 30px;
  height: 100px;
  width: 100px;
  float: left;
  border-radius: 100px;
  position: absolute;
  animation-name: myanimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#d3 {
  padding: 20px;
  border: yellow solid 2px;
  margin: 30px;
  height: 100px;
  width: 100px;
  float: left;
  border-radius: 100px;
  position: absolute;
  animation-name: myanimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#d4 {
  padding: 20px;
  border: green solid 2px;
  margin: 30px;
  height: 100px;
  width: 100px;
  float: left;
  border-radius: 100px;
  position: absolute;
  animation-name: myanimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes myanimation {
  0% {background-color: red; margin: 20px;}
  25% {background-color: seagreen; margin: 40px}
  50% {background-color: springgreen;}
  75% {background-color: slateblue;}
  100% {background-color: skyblue;}
}
