#d1{
  border-color: cyan;
  border-width: 5px;
  border-style: groove;
}
#d2{
  border-color: tomato;
  border-width: 5px;
  border-style: dashed;
}
#d3{
  border-color: red;
  border-width: 5px;
  border-style: ridge;
}
