.fontClass{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: coral;
  text-decoration: overline;
  font-variant: small-caps;
}
